@charset "utf-8";

* {padding:0;margin:0;}
body {padding:10px;background:#fff;font:12px/1.4 Dotum,'돋움',sans-serif;}
#container {width:240px;}
header {position:relative;padding:10px 0 15px;font-size:11px;}
header span {font-family:Arial,sans-serif;color:#999;vertical-align:middle;}
header img {vertical-align: middle;}
header .gotoOptions {position:absolute;top:11px;right:2px;padding-left:12px;background:url('/images/browser/icon_settings.png') no-repeat 0 45%;text-decoration:none;letter-spacing:-1px;word-spacing:-1px;color:#666;}
header .gotoOptions:hover {color:#333;}

#contents .inputRow {position:relative;margin-bottom:2px;padding:4px 4px 4px 25px;background-color:#fafafa;border:1px solid #f1f1f1;border-radius:2px;}
#contents .inputRow input[type="checkbox"] {position:absolute;left:5px;top:5px;}
#contents .inputRow label {color:#999;}
#contents .inputRow .txtInput {padding-top:3px;opacity:.6;pointer-events:none;}
#contents .inputRow.checked {background:#eee;border-color:#e4e4e4 #ddd #ccc;box-shadow:inset 0 1px 0 #f8f8f8,inset 0 -1px 0 #f6f6f6;}
#contents .inputRow.checked label {color:#666;font-weight:bold;letter-spacing:-1px;}
#contents .inputRow.checked .txtInput {opacity:1;pointer-events:all;}
#contents .inputRow input[type="text"] {width:150px;padding:2px 5px;font:11px/1.4 Dotum,돋움,sans-serif;color:#444;background:#fff;border:1px solid #d7d7d7;}
#contents .inputRow button {height:21px;padding:0 4px;background:-webkit-linear-gradient(top,#fff 0,#f4f4f4 100%);border-width:1px;border-style:solid;border-color:#ededed #cecece #c2c2c2 #ededed;border-radius:1px;font:11px/1.4 Dotum,돋움,sans-serif;letter-spacing:-1px;color:#666;cursor:pointer;}

footer {padding:3px 0 5px;font:11px Arial,sans-serif;}
footer a {color:#0092ca;}
footer a:hover {color:#006aa1;}

#links_external {font-size:11px;}
#links_external li {display:inline;}
#links_external li + li:before {content:'\2022';margin-right:4px;color:#999;font-size:10px;}
#links_external a {text-decoration:none;}
.twitter {padding-left:14px;background:url('/images/browser/icon_twitter.png') no-repeat 0 50%;}
#status {height:16px;font-size:11px;text-align:center;padding-right:20px;letter-spacing:-1px;color:#fb6101;}
#message {display:none;}
#message:before {content:url('/images/browser/check.png');vertical-align:middle;margin-right:2px;}
