@charset "utf-8";

/* default layout --------------------- */
html{overflow-x:auto !important;overflow-y:scroll !important;}
body {padding:0 !important;}
#wrap {max-width:858px;min-width:780px;overflow:visible !important;padding:0 10px;margin:0 auto;box-sizing:border-box;}
#hearder, #hearder .gnb, #container, #container > table[width="980"], #footer {width:100% !important;}
#hearder {height:80px !important}
#hearder .gnb {position:absolute;float:right;z-index:2 !important;width:270px !important;top:35px;right:0;}
#hearder .gnb a[onclick="addBookmark();"] {display:none;}
#hearder .header_cont {display:block !important;position:relative;}
#hearder .header_cont h1 {padding:35px 0 0 5px !important;}
#hearder .menu{z-index:1 !important;float:none !important;position:static !important;padding:45px 0 0 210px !important;}
#hearder .menu li {margin-right:8px !important;padding-left:15px !important;}
#hearder .menu img {width:auto;height:14px !important;}
#hearder .header_cont .menu li.h_cartoon {position:absolute !important;top:15px !important;right:-7px;}
#hearder .header_cont .menu li.h_cartoon img {height:20px !important;}

/* navigation */
#navi {display:table !important;height:auto !important;background:#4871bb !important;box-shadow:0 2px 0 #4871bb,0 3px 0 #2851a0,0 4px 0 #d9d9d9;}
#navi .navi_bar {position:static !important;display:table-row !important;width:100% !important;height:40px !important;background:#43454a !important;}
#navi .navi_bar li {position:static !important;display:table-cell !important;width:auto !important;background:none !important;text-indent:0 !important;font-weight:bold;line-height:1 !important;font-size:12px !important;}
#navi .navi_bar li.s_navi1 {width:5% !important;}
#navi .navi_bar li a {box-sizing:border-box;height:40px!important;background:none !important;background-repeat:none !important;padding:0 3px !important;color:#d7d7d7 !important;line-height:40px;font-family:Dotum,'돋움',sans-serif;text-align:center;box-shadow:inset 0 1px 0 rgba(0,0,0,.2),inset 0 2px 0 rgba(255,255,255,.07);text-shadow:-1px -1px 0 rgba(0,0,0,.1);}
#navi .navi_bar li a.on {background-color:#4871bb !important;color:#fff !important;}
#navi .navi_bar li a:hover {text-decoration:none;color:#fff !important;}

/* remove sidebar */
table[width="980"] > tbody > tr > td[width="270"] {display:none;}
table[width="980"] > tbody > tr > td[width="35"] {display:none;}
table[width="980"] > tbody > tr > td[width="1"] {display:none;}

/* list page --------------------- */
/* table width switch */
table[width="980"] > tbody > tr > td[width="687"] {width:100% !important;}
table[width="980"] > tbody > tr > td[width="687"] > table[width='702'] {width:100% !important;}
table[width="702"] td[width="94"][align="right"]{padding-top:10px;}
table[width="702"] td[width="66"] {font-size:11px;}

/* view --------------------- */
td img[src^="http://image.donga.com/mlbpark/img200807/sub_line_"] {display:none;}
td[background^="http://image.donga.com/mlbpark/img200807/sub_line_"] {background:none !important}

/* article --------------------- */
td.G13 td.G13 {padding:20px;}
td.G13 > table {width:100%;box-sizing:border-box;}
td.G13 > div[align="justify"] {width:100% !important;box-sizing:border-box;margin:0 0 40px !important;}
td.G13 > div[align="justify"] img {width:auto !important;height:auto !important;max-width:100%;}
table[width="55"] {width:55px !important;margin:0 auto !important;}
table[width="55"] td[background$="sub_icon_bg01.gif"] {padding:3px 0 6px;height:32px;vertical-align:top;}

/* comments --------------------- */
/* comment list */
#myArea {border-top:1px solid #ccc;}
#myArea td[bgcolor="B8B8B8"] {display:none;}
#myArea > table[width="702"] {width:100% !important;margin:0 !important;}
#myArea table[width="97%"] {min-width:580px;}
#myArea table[width="97%"] tr .btn_reply {visibility:hidden;vertical-align:-1px;background:transparent url("chrome-extension://__MSG_@@extension_id__/images/btn_reply.png") no-repeat 0 0;width:28px;height:12px;overflow:hidden;cursor:pointer;border:none;text-indent:-9999px;}
#myArea table[width="97%"] tr .btn_reply:hover {background-position:0 -12px;}
#myArea table[width="97%"] tr:hover .btn_reply {visibility:visible;}
#myArea table[width="97%"] td[width="140"] a {font:12px Dotum, '돋움', sans-serif;}
#myArea table[width="97%"] td[width="140"] img {margin-right:3px;vertical-align:middle;}
#myArea table[width="97%"] td.G12 * {max-width:100%;}
#myArea table[width="97%"] td.G12 img {width:auto !important;margin:0 !important;height:auto !important;}
#myArea .me {font-weight:bold !important;color:#003567;background:rgba(0,34,65,.08);padding:1px 2px;border:1px solid rgba(0,0,0,.1);border-radius:3px;vertical-align:middle;}
#myArea .me:hover {text-decoration:none;color:#001222;}
#myArea .D11[width="110"] {width:110px !important;padding-left:20px;}
#myArea .D11[width="110"] font {margin:0;}

/* comment form */
form[name="writeForm"] > table {width:100% !important;margin:10px 0 20px !important;}
form[name="writeForm"] table[width="93%"]{width:100% !important;}
form[name="writeForm"] td[width="578"] {width:auto !important;padding-left:154px;text-align:right;}
form[name="writeForm"] td[width="578"] textarea {box-sizing:border-box;width:100%;padding:10px !important;font-size:12px;resize:vertical;}
form[name="writeForm"] td[width="56"] {width:80px !important;text-align:center;}

/* pagination --------------------- */
.paging {padding:5px 0;}
.paging a,.paging font[color="FE4100"] {height:17px;font:11px/18px Arial, sans-serif !important;vertical-align:middle;display:inline-block;border-width:1px;border-style:solid;border-color:#e7e7e7 #c9c9c9 #cacaca #d8d8d8;border-radius:3px;padding:4px 6px 3px !important;margin:0 2px;}
.paging a {color:#666 !important;}
.paging a:hover {text-decoration:none !important;background-color:#f9f9f9;color:#333 !important;}
.paging font[color="FE4100"] {font-weight:bold !important;cursor:default;border-color:#eee;}
.paging img[width="1"] {display:none;}

/* search --------------------- */
td.A13oreng {height:60px;}
td.A13oreng td[background$="suceh_03.gif"]{background:#f6f6f6;border:1px solid #ececec;height:auto !important;}
td.A13oreng td[background$="suceh_03.gif"] > table {margin:5px 0 !important;width:454px !important;}
td.A13oreng select.box {padding:4px;border-color:#ccc;}
td.A13oreng #search_text input.box2 {border:1px solid #ccc;padding:5px 6px;border-color:#ccc;font-size:12px;}

/* footer --------------------- */
#footer {margin:20px auto 0 !important;}
#footer .copy h2 {display:none !important;}
#footer .footer_link a, #footer .footer_link .fot_tx {background:none !important;border-left:1px solid #bbb;}

/* memo --------------------- */
#memoAlarm {position:fixed;z-index:999999;right:10px;bottom:10px;padding:13px 10px 10px;background:rgba(250,250,250,.9);border:1px solid #999;border-color:#ccc #aaa #999;box-shadow:2px 2px 2px rgba(0,0,0,.1);border-radius:3px;-webkit-animation:myfirst .5s;cursor:default;}
#memoAlarm h3 {margin-bottom:6px;font-size:14px;letter-spacing:-1px;font-family:Dotum, '돋움', sans-serif;color:#5a5a5a;}
#memoAlarm p {display:-webkit-box;max-width:380px;margin-bottom:7px;padding:5px;border:1px solid #e3e3e3;line-height:1.5;background:#fff;color:#666;-webkit-line-clamp:4;-webkit-box-orient:vertical;overflow:hidden;word-break:break-all;letter-spacing:-1px;}
#memoAlarm div {text-align:center;}
#memoAlarm div a {display:inline-block;text-decoration:none;border:1px solid #ccc;border-color:#ddd #ccc #aaa;padding:4px 6px 3px;border-radius:2px;background:#fefefe;font-size:11px;letter-spacing:-1px;color:#666;}
#memoAlarm div a:hover {border-color:#ccc #bbb #999;background-color:#fff;}
@-webkit-keyframes myfirst {
	from {bottom:-300px;}
	to {bottom: 10px;}
}

/* etc --------------------- */
/* new icon vertical-align */
img[src="http://image.donga.com/common/new.gif"]{vertical-align:-2px !important;margin-right:2px !important;}
td.D11[width="18%"] {font-weight:bold;font-size:12px !important;color:#333 !important;}
td.D11 font {margin-right:5px;}
td.D11 img {vertical-align:middle;} 

/* user information */
div[id^="nik_"] {background:#fff;margin:0 !important;padding:5px 8px;font:normal 11px Dotum, '돋움', sans-serif;letter-spacing:-1px;color:#666;border-width:1px !important;box-shadow:1px 1px 1px rgba(0,0,0,.1);border-radius:3px;}
div[id^="nik_"] li {padding:2px 0 !important;cursor:pointer;}
div[id^="nik_"] li:hover {color:#111;}

/* remove --------------------- */
.displayNone {display:none !important;}
tr.displayNone + tr {display:none;}
table[width="980"] > tbody > tr > td[width="687"] > table[width="702"][height="19"] {display:none;}
.ad_left_w, .ad_right_w,
iframe[src^="http://ar.donga.com/"],
iframe[src^="http://idolpark.donga.com/"],
iframe[src^="http://sports.donga.com/"],
iframe[src="http://mlbpark.donga.com/mypage/memo_read.php"]{display:none !important;}
.head_ad {display:none;}