@charset "utf-8";
/* thead */
td[width="687"] > table[height="31"] td[width="4"]{width:4px !important;}
td[width="687"] > table[height="31"] td[width="50"]{width:50px !important;}
td[width="687"] > table[height="31"] td[width="383"]{width:auto !important;}
td[width="687"] > table[height="31"] td[width="140"]{width:140px !important;}
td[width="687"] > table[height="31"] td[width="70"]{width:85px !important;}
td[width="687"] > table[height="31"] td:nth-child(10)[align="center"] {width:60px !important;}

/* tbody */
td[width="687"] > table[width="702"] tr[height="30"] {height:auto;}
td[width="687"] > table[width="702"] tr[height="30"]:hover {background-color:#f9f9f9;}
td[width="687"] > table[width="702"] tr[height="30"] tr {height:30px;}
td[width="687"] > table[width="702"] tr[height="30"] > td[align="center"] > table[width="100%"] .A11gray {width:50px !important;}
td[width="687"] > table[width="702"] td[width="383"] {width:auto !important;}
td[width="687"] > table[width="702"] td[width="82"] {width:80px !important;font-size:12px;}
td[width="687"] > table[width="702"] td[width="44"] {width:40px !important;}
td[width="687"] > table[width="702"] td[width="66"] {width:100px !important;}
td[width="687"] > table[width="702"] td[width="40"].A12gray {padding-right:15px !important;width:40px !important;}
td[width="687"] > table[width="702"] .picture {display:none;}
td[width="468"] {width:auto !important;}
td[width="234"] {width:auto !important;}
table[width="99%"] td[width="32%"] {width:250px !important;}
table[width="99%"] td[width="46%"] {width:auto !important;}
table[width="99%"] td[width="11%"] {text-align:right;}
table[width="99%"] td[width="82%"] {width:auto !important;}
table[width="99%"] td[width="82%"] strong {font:bold 16px/1 Dotum,'돋움',sans-serif;color:#333;}
table[width="99%"] td[width="18%"] {width:auto !important;}
table[width="99%"] td[width="18%"] .userIdVal {font-weight:normal;}

/* today Best section */
table[width="660"] {width:100% !important;}
table[width="660"] > tbody > tr:first-child img[src="http://image.donga.com/mlbpark/img200807/icon_s2.gif"],
table[width="660"] > tbody > tr:first-child img[src="http://image.donga.com/mlbpark/img200807/main_tai_05b.gif"] {display:none;}
table[width="660"] > tbody > tr:nth-child(2) img[src="http://image.donga.com/mlbpark/img200807/main_line660_01.gif"] {display:none;}
table[width="660"] > tbody > tr:nth-child(3) > td {background:none !important;}
table[width="660"] > tbody > tr:nth-child(3) table[width='640'] {width:100% !important;min-height:130px;border-top:1px solid #ccc;table-layout:fixed;}
table[width="660"] > tbody > tr:nth-child(3) td[width='1'] {display:none;}
table[width="660"] > tbody > tr:nth-child(3) td[width='214'] {width:33.3333% !important;}
table[width="660"] > tbody > tr:nth-child(3) td[width='230'] {width:auto !important;}
table[width="660"] > tbody > tr:nth-child(3) td[width='214'] table[width='200'],
table[width="660"] > tbody > tr:nth-child(3) td[width='230'] table[width='200'] {background-color:#f7f7f7;border-bottom:1px solid #eee;}
table[width="660"] > tbody > tr:nth-child(3) table[width='200']{width:100% !important;}
table[width="660"] > tbody > tr:nth-child(3) table[width='200'] td {height:24px;vertical-align:middle !important;font-size:12px !important;}
table[width="660"] > tbody > tr:nth-child(3) table[width='200'] td[width='32'] {padding-right:5px;}
table[width="660"] > tbody > tr:nth-child(3) table[width='200'][style^='MARGIN']{table-layout:fixed;margin-top:10px !important;}
table[width="660"] > tbody > tr:nth-child(3) table[width='200'][style^='MARGIN'] td[width='190'] {width:auto !important;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;letter-spacing:-1px;}
table[width="660"] > tbody > tr:nth-child(3) table[width='200'] img[src$='maim_dot01.gif'] {margin-left:5px;}
table[width="660"] > tbody > tr:nth-child(4) > td img {display:none;}
table[width="660"][height="31"] td[width="340"] {width:auto !important;}
table[width="660"][height="31"] td[width="140"] {width:150px !important;}
table[width="660"][height="31"] td:nth-child(8)[align="center"]{width:145px;}
table[width="660"] tr[height="30"] td[width="341"] {width:auto !important;}
table[width="660"] tr[height="30"] td[width="82"] {width:92px !important;font-size:12px;}
table[width="660"] tr[height="30"] td[width="82"] a.disabled {text-decoration:none;cursor:default;}
table[width="660"] tr[height="30"] td:nth-child(5)[align="center"] {width:150px;}
table[width="660"] tr[height="30"]:hover {background-color:#f9f9f9;}
table[width="660"] td[bgcolor="E6E6E6"] {height:1px !important;}
table[width="660"] td[width="510"][height="50"]{padding-top:10px;}
table[width="660"] td[width="510"][height="50"] td a {margin:0 5px;}

/* view */
td[width="687"] > table[width="702"]:nth-child(4) td[height="44"] {border-top:1px solid #ccc;border-bottom:1px solid #eee;}
#container > table[width="980"] > tbody > tr[valign=top] > td[width="687"] > table[width="702"]:nth-child(4) > tbody > tr:nth-child(3) > td[background] {padding-top:5px;background:#f8f8f8 !important;border:1px solid #eee; !important;}
td[width="687"] > table[width="702"] > tbody > tr:nth-child(3) table[width="702"] {width:100% !important;}
td.G13 > div[align="justify"].blind {position:absolute;visibility:hidden;-webkit-transition:max-height .5s ease;overflow:hidden;}
td.G13 > div[align="justify"].slide {position:static;visibility:visible;}

/* refrash button */
form[name="writeForm"] td[width="56"] a[href^="javascript:startRequest"] {display:none;}
#commentRefresh {padding:5px 0;text-align:center;border-top:1px solid #fff;border-bottom:1px solid #eee;background-color:#f8f8f8;}
#btn_cmtLoad {display:inline-block;padding:5px 6px;border-width:1px;border-style:solid;border-color:#e0e0e0 #979797 #7d7d7d #dcdcdc;box-shadow:1px 1px 0 #e8e8e8;border-radius:3px;background:#f8f8f8;font:12px Dotum,'돋움',sans-serif;cursor:pointer;color:#5a5a5a;background-image:-webkit-linear-gradient(bottom, #fff 0, #f6f6f6 2px, #fff 80%);text-shadow:0 1px 0 #fff;word-spacing:-1px;}
#btn_cmtLoad:hover {border-color:#c6c6c6 #6c6c6c #494949 #c6c6c6;color:#222;}
#btn_cmtLoad:active {border-color:#b8b8b8 #c6c6c6 #c6c6c6 #bcbcbc;box-shadow:none;background-image:-webkit-linear-gradient(bottom, #fff 0, #f0f0f0 2px, #fff 80%,#eee 100%);text-shadow:none;}
#cmtLoader {opacity:0;position:absolute;margin:6px 0 0 5px;display:inline-block;width:14px;height:14px;background:url("chrome-extension://__MSG_@@extension_id__/images/loader.gif") no-repeat;}
#cmtLoader.show {opacity:1;}
#cmtLoader.hide {-webkit-animation: hide .3s ease-out; }
@-webkit-keyframes hide {
	from {opacity:1;}
	to {opacity:0;}
}

/* history */
#history {clear:both;margin:0 0 10px;padding:20px 0 5px;}
#history .historyHead {padding-top:2px;border-top:1px dotted #dfdfdf;border-bottom:1px solid #eee;margin-bottom:4px;}
#history .historyHead h3 {display:inline-block;margin-right:4px;font-weight:normal;letter-spacing:-1px;white-space:nowrap;}
#history .historyHead h3 span {font-weight:bold;;letter-spacing:0;}
#history .historyHead h3 span span {font-weight:normal;color:#666;}
#history .historyHead button {background:none;border:none;font:11px Dotum, '돋움', sans-serif;letter-spacing:-1px;word-spacing:-1px;color:#888;cursor:pointer;}
#history .historyHead button:hover {color:#5a5a5a;text-decoration:underline;}
#historyList table {display:block;width:100% !important;}
#historyList > table > tbody > tr:nth-child(odd) {display:none !important;}
#historyList > table > tbody > tr:before {content:"\2023";display:inline-block;padding-left:5px;vertical-align:middle;font-size:11px;margin-right:5px;color:#aaa;}
#historyList td[height="2"], #historyList td[height="1"], #historyList td[bgcolor="E6E6E6"] {display:none !important;}
#historyList td[height] {height:auto !important;}
#historyList table[width="100%"] {display:block;}
#historyList table[width="100%"] tbody {display:block;}
#historyList table[width="100%"] tr {display:inline-block !important;}
#historyList table[width="93%"] td {width:100%;font-size:12px;color:#5a5a5a;}
#historyList table[width="100%"] td {display:inline-block !important;font-size:12px !important;}
#historyList table[width="100%"] td[width="30"] {width:40px !important;}
#historyList table[width="100%"] td[width="326"] {display:none !important;}
#historyList table[width="100%"] td[width="80"] {width:75px !important;text-align:left !important;}
#historyList table[width="100%"] td.G12read {padding:0;}
#historyList table[width="100%"] td.G12read a {color:#5a5a5a !important;}
#historyList td[height="50"] {font-size:12px;color:#888;}
#historyList:empty {padding:30px 0;text-align:center;}
#historyList:empty:before {content:"";width:14px;height:14px;position:relative;margin:0 auto;display:inline-block;-webkit-animation: rotateit .5s linear infinite;border:4px solid #ccc;border-top-color:#888;border-radius:50%;}
@-webkit-keyframes rotateit {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

/* icons */
.G12read a {vertical-align:middle;padding-right:3px;}
.G12read a[href$="#"] {color:#aaa !important;cursor:default;text-decoration: line-through !important;}
.G12read .ico:before {content:'';display:inline-block;width:16px;height:16px;position:relative;margin-right:3px;bottom:-3px;background:url('chrome-extension://__MSG_@@extension_id__/images/icon.png') no-repeat;}
.G12read .ico_mobile:before {background-position:0 -96px;}
.G12read .ico_question:before {background-position:0 -64px;}
.G12read .ico_female:before {background-position:0 -160px;}
.G12read .ico_tv:before {background-position:0 -16px;}
.G12read .ico_twitter:before {background-position:0 -128px;}
.G12read .ico_music:before {background-position:0 -80px;}
.G12read .ico_vs:before {background-position:0 -32px;}
.G12read .ico_game:before {background-position:0 -144px;}
.G12read .ico_adult:before {background-position:0 -112px;}
.G12read .ico_warn:before {background-position:0 -48px;}
.blockTitle {color:#aaa !important;}
.blockTitle:before {display:none !important;}

/* team */
.team_show .G12read {padding-left:54px;}
.G12read em {position:absolute;display:inline-block;margin:1px 0 0 -54px;width:48px;height:17px;overflow:hidden;background:url('chrome-extension://__MSG_@@extension_id__/images/team.png') no-repeat;cursor:pointer;}
.G12read em:hover {opacity:.8;}
em[data-team="nexen"] {background-position:0 -17px !important;}
em[data-team="doosan"] {background-position:0 -34px !important;}
em[data-team="lotte"] {background-position:0 -51px !important;}
em[data-team="samsung"] {background-position:0 -68px !important;}
em[data-team="sk"] {background-position:0 -85px !important;}
em[data-team="lg"] {background-position:0 -102px !important;}
em[data-team="hanwha"] {background-position:0 -119px !important;}
em[data-team="nc"] {background-position:0 -136px !important;}

/* extra */
.warnBtn {position:relative;top:-20px;display:inline-block;background:#fff;padding:6px 10px 5px;color:#555;font:12px 'Gulim';cursor:pointer;border-width:1px;border-style:solid;border-color:#e7e7e7 #c3c3c3 #bfbfbf #d8d8d8;box-shadow:1px 1px 1px rgba(0,0,0,.1);border-radius:5px;}
.warnBtn:hover {border-color:#d5d5d5 #adadad #a0a0a0 #c7c7c7}
.warnBtn:active {background-color:#fafafa;border-color:#dbdbdb;box-shadow:1px 1px 1px #fff}
.warnBtn span {color:#cd1313;}
.warnBtn span:before {content:'';display:inline-block;width:16px;height:16px;margin-right:3px;background:url('chrome-extension://__MSG_@@extension_id__/images/icon.png') no-repeat 0 -48px;vertical-align:-4px;}
.highlight {background-color:#fffcc9;border:1px solid #f4f0b1;border-radius:3px;padding:1px 2px;margin:0 1px;color:#504730;}
a:hover .highlight {background-color:#f6f3b7;border-color:#eae6a3;color:#c40000;text-decoration:none !important;}
input.box2:focus {outline:none;}
.iWrap {display:inline-block;position:relative;}
.btn_iSearch {position:absolute;right:3px;bottom:3px;width:26px;height:26px;overflow:hidden;background:url("chrome-extension://__MSG_@@extension_id__/images/btn_iSearch.png") no-repeat;}
.btn_iSearch:hover {background-position:0 -26px;}
a[href^="javascript:userInfo"] {white-space:pre-wrap;}
.grayscale {-webkit-filter:grayscale(1);}

/* comment modal */
.btn_userCmt {width:15px;height:15px;vertical-align:middle;margin-left:2px;background:url('chrome-extension://__MSG_@@extension_id__/images/comment.png') no-repeat;border:none;text-indent:-9999px;cursor:pointer;}
.btn_userCmt[disabled]{opacity:.7;}
.userCmtLoading {background-image:url('chrome-extension://__MSG_@@extension_id__/images/cmtLoader.gif');cursor:default;}
#commentModal {-webkit-transition: opacity 500ms ease-in;}
#commentModalMask {position:fixed;z-index:9998;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.07);}
#commentModalBox {-webkit-animation: bounce 300ms linear;position:fixed;z-index:9999;top:50%;left:50%;width:580px;padding:2px 2px 8px;margin-left:-292px;background:#fff;border-radius:5px;box-shadow:2px 2px 3px 
rgba(0,0,0,.15),0 0 0 1px rgba(0,0,0,.2);}
@-webkit-keyframes bounce {
	0% {-webkit-transform: scale3d(0.1,0.1,1);}
	55% {-webkit-transform: scale3d(1.08,1.08,1);}
	75% {-webkit-transform: scale3d(.95,.95,1);}
	100% {-webkit-transform: scale3d(1,1,1);}
}
#modalHead {position:relative;margin-bottom:12px;padding:7px 10px;background:-webkit-linear-gradient(bottom,#2a2e3d 0,#303846 100%);border:1px solid #222;border-radius:3px;color:#eee;box-shadow:0 1px 1px #999;}
#modalHead h3 {font-weight:normal;cursor:default;}
#modalHead h3 strong {color:#fff;}
#cmtCount {color:#cbcfdb;font-size:11px;} 
#commentModalClose {position:absolute;top:3px;right:5px;background:url('chrome-extension://__MSG_@@extension_id__/images/close.png') no-repeat 50% 50%;width:24px;height:24px;overflow:hidden;text-indent:-9999px;cursor:pointer;border:none;opacity:.6;}
#commentModalClose:hover {opacity:1;}
#userCmtList {margin:0 5px 10px;padding:0 5px;max-height:300px;overflow-y:auto;}
#userCmtList td[width="1"] {display:none !important;}
#userCmtList td {box-sizing:border-box;display:block !important;width:100% !important;overflow:hidden;padding:0 !important;height:auto !important;text-align:left !important;line-height:1.4;}
#userCmtList td table, #userCmtList td tbody, #userCmtList td table tr {display:block;}
#userCmtList td * {max-width:100%;}
#userCmtList > td:nth-child(2n) {margin-bottom:8px;padding-bottom:5px;border-bottom:1px solid #eee;}
#userCmtList > td:last-child {border:none !important;}
#userCmtList .D11 {padding:3px 0 !important;}
#userCmtList .D11 font {color:#999;}
#userCmtList .D11 img, #userCmtList .D11 br, #userCmtList .D11 font[color="9A9A9A"] {display:none;}
#modalForm {overflow:hidden;padding:0 10px;}
#modalForm textarea {float:left;width:470px;padding:5px;border:1px solid #ccc;resize:vertical;border-radius:2px;}
#modalForm button {float:right;width:75px;height:54px;border:1px solid #ccc;border-radius:2px;background:-webkit-linear-gradient(bottom, #fff 0, #f6f6f6 2px, #fff 80%);cursor:pointer;font:12px Dotum,'돋움',sans-serif;}

/* Uchat fix */
div[id^="uchat_"] {display:block !important;}